{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current",
                    "esmodules": true
                },
                "useBuiltIns": "entry"
            }
        ]
    ],
    "plugins": [],
    "ignore": ["node_modules"]
}
